body {
    background-color: #bd4f6c;
    background-image: linear-gradient(to right, #bd4f6c 0%, #d7816a 74%);
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    font-family: monospace;
}

.dropbtn {
    position: relative;
    background-color: slategray;
    color: white;
    cursor: pointer;
    border: 0;
    width: 60px;
    height: 20px;
    right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 10px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 2px 6px;
}

.dropdown-content a:hover {
    background-color: cadetblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#taschenrechner {
    width: 300px;
    height: 575px;
    border: 1px solid darkgray;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    margin: 200px auto auto;
    background-color: whitesmoke;
}

#taschenrechner input[type=image] {
    margin-top: 15px;
    margin-left: 33px;
    height: 60px;
    width: 230px;
    border: 0;
    cursor: default;
}
#taschenrechner input[type=image]:focus{
    outline: 0;
}

.display {
    height: 60px;
    width: 230px;
    margin: 20px 35px 32px 22px;
    size: auto;
    padding: unset;
}

.equation-Input {
    height: 35px;
    width: 250px;
    background-color: darkgray;
    color: whitesmoke;
    border-radius: 10px 10px 0 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    font-family: monospace;
}

.display-Input {
    height: 45px;
    width: 250px;
    background-color: darkgray;
    color: whitesmoke;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: right;
    font-weight: bold;
    font-size: 21px;
    font-family: monospace;
}


.display-Input:focus {
    outline: 0;
}

.equation-Input:focus {
    outline: 0;
}


.keys {
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
}

.btn {
    height: 40px;
    width: 60px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    color: black;
    text-align: center;
    cursor: pointer;
    background-color: lightgray;
    transition-duration: 0.1s;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    box-shadow: #0000004a inset 0 0 4px 4px;
}

.btn:focus {
    outline: 0;
}

.btn.c {
    background-color: rgba(0, 27, 89, .5);
    border-radius: 10px;
}

.btn.ce {
    background-color: rgba(0, 27, 89, .5);
    border-radius: 10px;
}

.btn.root {
    background-image: url("assets/quadratwurzelzeichen.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
    border-radius: 15px;
}

.btn.plusminus {
    background-image: url("assets/plusminus.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
    border-radius: 15px;
}

.btn.del {
    background-image: url("assets/del.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 27, 89, .5);
    border-radius: 10px;
}

.btn.equals {
    background-color: lightcyan;
}

.btn.operation {
    background-color: orange;
    border-radius: 15px;
}

.btn.reciprocal {
    background-color: orange;
    border-radius: 15px;
}

.btn.square {
    background-color: orange;
    border-radius: 15px;
}

.btn.log {
    background-color: orange;
    border-radius: 15px;
}

.btn.pi {
    background-image: url("assets/pi.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: orange;
}

.btn.faculty {
    background-color: orange;
}

.btn.exponent {
    background-color: orange;
}

.btn:hover {
    background-color: darkgray;
    color: white;
}


