#taschenrechner {
    width: 395px;
    height: 325px;
    background-color: rgba(60, 50, 80, 150);
}

.equation {
    margin-top: 10px;
    margin-left: 5px;
}

.equation:focus {
    outline: 0;
}

.equation input[type=text] {
    height: 20px;
    width: 370px;
    float: left;
    border: 0;
    color: antiquewhite;
    font-weight: bold;
    font-size: 12px;
    background: rgb(181, 183, 212);
    line-height: 10vh;
    text-align: right;
}

.display {
    margin-left: 5px;
    margin-right: 5px;
}

.display:focus {
    outline: 0;
}

.display input[type=text] {
    height: 50px;
    width: 370px;
    float: left;
    border: 0;
    background: rgb(181, 183, 212);
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 10vh;
    text-align: right;
}

.keys {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    border: 0;
}

.btn {
    height: 40px;
    width: 90px;
    float: left;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.btn:focus {
    outline: 0;
}

.btn.number {
    background-color: gray;
}

.btn.operation {
    background-color: mediumvioletred;
}

.btn.del {
    background-color: aqua;
    color: black;
}

.btn.c {
    background-color: aqua;
    color: black;
}

.btn.ce {
    background-color: aqua;
    color: black;
}

.btn.dot {
    background-color: gray;
}

.btn.equals {
    width: 185px;
    background-color: rgb(130, 48, 81);
}

.btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

/*hiding scrollbar of display input for Chrome, Safari, Edge and Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*The same for Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}