body {
    background-image: url('background.jpg');
/*    rgb(116,185,153)*/
}

#taschenrechner {
    width: 195px;
    height: 325px;
    background-color: white;
    /*rgb(106, 55, 135)*/
    margin: 400px auto auto;
    border-radius: 10px;
}
#taschenrechner img {
    margin-left:5px;
    margin-top:5px;
    width: 90%;
    height: 15%;
}
.equation {
    margin-top: 7px;
    margin-left: 5px;
}

.equation:focus {
    outline: 0;
}

.equation input[type=text] {
    height: 20px;
    width: 170px;
    float: left;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background: rgb(181, 183, 212);
    line-height: 10vh;
    text-align: right;
}

.display {
    margin-left: 5px;
    margin-right: 5px;
}

.display:focus {
    outline: 0;
}

.display input[type=text] {
    height: 30px;
    width: 170px;
    float: left;
    border: 0;
    background: rgb(181, 183, 212);
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 10vh;
    text-align: right;
}

.keys {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    border: 0;
}

.btn {
    height: 30px;
    width: 40px;
    float: left;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

.btn:focus {
    outline: 0;
}

.btn.number {
    background-color: gray;
    border-radius: 20px;
}

.btn.operation {
    background-color:darkgoldenrod;
    /*background-color: slategray;*/
    border-radius: 15px;
}

.btn.del {
    background-color: rgba(255, 0, 0, 0.7);
    color: black;
    border-radius: 10px;
}

.btn.c {
    background-color: rgba(255, 0, 0, 0.7);
    color: black;
    border-radius: 10px;
}

.btn.ce {
    background-color: rgba(255, 0, 0, 0.7);
    color: black;
    border-radius: 10px;
}

.btn.dot {
    background-color: gray;
    border-radius: 20px;
}

.btn.equals {
    width: 85px;
    background-color: slategray;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

/*hiding scrollbar of display input for Chrome, Safari, Edge and Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*The same for Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}