body {
    background-image: linear-gradient(to right, dodgerblue, lightskyblue);
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropbtn {
    position: relative;
    background-color: slategray;
    color: white;
    cursor: pointer;
    border: 0;
    width: 60px;
    height: 20px;
    right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 10px;
    padding: 5px;
}

.dropdown-content a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 2px 6px;
}

.dropdown-content a:hover {
    background-color: cadetblue;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#taschenrechner {
    width: 195px;
    height: 315px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Agency FB", sans-serif;
    position: center;
    margin: 200px auto auto;
}

#taschenrechner img {
    margin-left: 5px;
    margin-top: 7px;
    width: 90%;
    height: auto;
}

.equation {
    margin-top: 5px;
    margin-left: 5px;
}

.equation:focus {
    outline: 0;
}

.equation input[type=text] {
    height: 20px;
    width: 170px;
    float: left;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: darkgray;
    line-height: 10vh;
    text-align: right;
}

.display {
    margin-left: 5px;
    margin-right: 5px;
}

.display:focus {
    outline: 0;
}

.display input[type=text] {
    height: 30px;
    width: 170px;
    float: left;
    border: 0;
    background-color: darkgray;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 10vh;
    text-align: right;
}

.keys {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    border: 0;
}

.btn {
    height: 30px;
    width: 40px;
    float: left;
    color: white;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    box-shadow: #0000004a inset 0 0 4px 1px;
}

.btn:focus {
    outline: 0;
}

.btn.number {
    background-color: gray;
    border-radius: 20px;
}

.btn.operation {
    background-color: orange;
    border-radius: 15px;
}

.btn.del {
    background-image: url("del.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: indianred;
    border-radius: 10px;
}

.btn.c {
    background-color: indianred;
    color: black;
    border-radius: 10px;
}

.btn.ce {
    background-color: indianred;
    color: black;
    border-radius: 10px;
}

.btn.dot {
    background-color: gray;
    border-radius: 20px;
}

.btn.equals {
    width: 85px;
    background-color: slategray;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

/*hiding scrollbar of display input for Chrome, Safari, Edge and Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*The same for Firefox*/
input[type=number] {
    -moz-appearance: textfield;
}